<!DOCTYPE html>
<html>
<head>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Danta</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
	<style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.html">CUFM - DANTA</a>
          <ul class="nav">
            <li class="active"><a href="../danta">Principal</a></li>
            <li><a href="#foro">Foro</a></li>
            <li><a href="direccion.html">Dirección CUFM</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Usuario">
            <input class="input-small" type="password" placeholder="Contraseña">
            <a href="nota.html" class="btn" type="submit">Entrar</a>
          </form>
        </div>
      </div>
    </div>

		<div class="container">
		  <div class="container-fluid">
		    <div class="sidebar">
		      <div class="well">
		        <h5>Secciones</h5>
		        <ul>
		          <li><a href="#">Ayuda</a></li>
		          <li><a href="#">Foro</a></li>
		          <li><a href="direccion.html">Dirección CUFM</a></li>
		        </ul>
		        <h5>Consulta General</h5>
		        <ul>
		          <li><a href="#">Carnetización</a></li>
		          <li><a href="#">Cartelera</a></li>
		          <li><a href="#">Noticias Históricas</a></li>
		        </ul>
		        <h5>Registro</h5>
		        <ul>
		          <li><a href="registrou.html">Usuario</a></li>
		          <li><a href="#">Estudiante</a></li>
		          <li><a href="#">Profesor</a></li>
		        </ul>
		      </div>
		    </div>
		    <div class="content">
		      <div class="hero-unit">
		        <h1>Noticia Principal</h1>
		        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		        <p><a class="btn primary large">Leer más &raquo;</a></p>
		      </div>

		      <div class="row">
		        <div class="span6">
		          <h2>Noticia 2</h2>
		          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		          <p><a class="btn" href="#">Leer más &raquo;</a></p>
		        </div>
		        <div class="span5">
		          <h2>Noticia 3</h2>
		           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		          <p><a class="btn" href="#">Leer más &raquo;</a></p>
		       </div>
		        <div class="span5">
		          <h2>Noticia 4</h2>
		          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		          <p><a class="btn" href="#">Leer más &raquo;</a></p>
		        </div>
      	  </div>

        <hr>

        <!-- Example row of columns -->
        <div class="row">
          <div class="span6">
            <h2>Noticia 5</h2>
            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn" href="#">Leer más &raquo;</a></p>
          </div>
          <div class="span5">
            <h2>Noticia 6</h2>
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">Leer más &raquo;</a></p>
         </div>
          <div class="span5">
            <h2>Noticia 7</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">Leer más &raquo;</a></p>
          </div>
        </div>
			</div>

        <footer>
          <p>&copy; DudesOnRails 2012 - Colegio Universitario Francisco de Miranda</p>
        </footer>
      </div>
    </div>

</body>
</html>
